[nz-carousel-content] {
  height: 80vh;
}
.card-zoom .card-zoom-image {
  /* transform: scale(1.5); */
  animation: zoom-slow 10s linear infinite;
}
@keyframes zoom-slow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
