<div class="">
  <div class="footer__map mx-auto h-[60vh]">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.4403883176838!2d106.87405775090133!3d10.93006845928821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174de5d36bbce35%3A0xf870d5c6b05cae25!2zTmjDoCBIw6BuZyBUaeG7h2MgQ8aw4bubaSDDgW5oIE5ndXnhu4d0!5e0!3m2!1svi!2s!4v1659411631891!5m2!1svi!2s"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      width="100%"
      height="100%"
    ></iframe>
  </div>
  <div class="footer__form w-100 bg-gradient-to-r from-[#fad0c4] to-[#ffd1ff]">
    <div class="container mx-auto py-8 lg:py-16">
      <div class="max-w-2xl mx-auto mb-6">
        <h1 class="text-4xl font-light text-neutral-800 uppercase">
          Liên hệ chúng tôi
        </h1>
        <h3 class="text-lg font-base text-neutral-800">
          Hotline: 0989 048 497
        </h3>
      </div>

      <app-form-guest-info></app-form-guest-info>
    </div>
  </div>
  <div class="footer__contact py-8 bg-white">
    <div class="container mx-auto">
      <div class="contact__info flex flex-col">
        <div class="contact__info--logo mb-4">
          <img [src]="imageLogo" alt="" class="w-44 h-auto" />
        </div>
        <div
          class="contact__info--des capitalize text-lg font-bold text-[#333333] font-serif"
        >
          nhà hàng tiệc cưới ánh nguyệt
        </div>
        <div class="contact__info--address font-sans">
          <div class="text-base text-[#333333] my-1">
            <i class="fa-solid fa-location-dot mr-2"></i>
            <span class="font-sans">
              Số 80 Bùi Văn Hoà, p.Long Bình, Biên Hoà, Đồng Nai
            </span>
          </div>
          <div class="text-base text-[#333333] my-1">
            <i class="fa-solid fa-envelope mr-2"></i>
            <span class="font-sans"> anhnguyetbvh@gmail.com </span>
          </div>
          <div class="text-base text-[#333333] my-1">
            <i class="fa-solid fa-phone mr-2"></i>
            <span class="font-sans"> 0989 048 497 </span>
          </div>
        </div>
      </div>
      <div class="contact__navbarList flex-col md:flex-row flex">
        <div class="flex basis-full flex-col md:basis-1/2">
          <div
            class="navbarList__header font-bold uppercase text-lg text-[#333333] mt-2 mb-2"
          >
            Thông tin
          </div>
          <div
            class="w-fit navbarList__item text-[#333333] hover:text-red-500 py-1 font-sans relative hover:translate-x-0.5 ease-in transition-transform duration-100"
          >
            <a
              class="text-base leading-none text-inherit hover:text-inherit"
              href="/"
            >
              Về chúng tôi
            </a>
          </div>
          <div
            class="w-fit navbarList__item text-[#333333] hover:text-red-500 py-1 font-sans relative hover:translate-x-0.5 ease-in transition-transform duration-100"
          >
            <a
              class="text-base leading-none text-inherit hover:text-inherit"
              href="/"
            >
              Menu tiệc
            </a>
          </div>
          <div
            class="w-fit navbarList__item text-[#333333] hover:text-red-500 py-1 font-sans relative hover:translate-x-0.5 ease-in transition-transform duration-100"
          >
            <a
              class="text-base leading-none text-inherit hover:text-inherit"
              href="/"
            >
              Ưu đãi, khuyến mãi
            </a>
          </div>

          <div
            class="w-fit navbarList__item text-[#333333] hover:text-red-500 py-1 font-sans relative hover:translate-x-0.5 ease-in transition-transform duration-100"
          >
            <a
              class="text-base leading-none text-inherit hover:text-inherit"
              href="/"
            >
              Tin tức
            </a>
          </div>
          <div
            class="w-fit navbarList__item text-[#333333] hover:text-red-500 py-1 font-sans relative hover:translate-x-0.5 ease-in transition-transform duration-100"
          >
            <a
              class="text-base leading-none text-inherit hover:text-inherit"
              href="/"
            >
              Chính sách bảo mật
            </a>
          </div>
        </div>
        <div class="flex basis-full flex-col md:basis-1/2">
          <div
            class="navbarList__header font-bold uppercase text-lg text-[#333333] mt-2 mb-2"
          >
            Kết nối với chúng tôi
          </div>
          <div
            class="w-fit navbarList__item text-[#333333] hover:text-red-500 py-1 font-sans relative hover:translate-x-0.5 ease-in transition-transform duration-100"
          >
            <a
              class="text-2xl leading-none text-inherit hover:text-inherit"
              href="/facebook"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
