<div class="container mx-auto bg-red-600">
  <div class="bg-slate-200 w-full text-right pr-4">
    <span class="text-sky-900 text-base font-normal">
      <i class="fa-solid fa-phone"></i>
      0989 048 497
    </span>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white clear-both">
    <a class="navbar-brand bottom-2 relative" href="">
      <img [src]="imageLogo" alt="" class="w-44 h-auto" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto text-base font-semibold">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            TRANG CHỦ <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dich-vu">DỊCH VỤ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/khuyen-mai">KHUYẾN MÃI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tin-tuc">TIN TỨC</a>
        </li>
      </ul>
      <button
        class="transition-colors ease-in-out rounded px-2 py-2 text-white hover:text-sky-900 bg-sky-900 hover:bg-cyan-600"
      >
        <span class="text-base"> LIÊN HỆ </span>
      </button>
    </div>
  </nav>
</div>
